*.tfstate
*.tfstate.*
**/.terraform/
*crash.log*
terraform.tfvars
*.backup
*.log
*.pem
*.pub
.DS_Store
Thumbs.db
*.fmt
*.zip
*.blb
*.ent
*.hcl*
*.dat*
*.pyc*
#*.accsd
#*.sac
*.dat*
*.accesd*
*broker*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*_executed.ipynb
